{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    <title>Log In</title>
{% endblock head %}
{% block body %}
    <h1 style="text-align: center;">Log In</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Log In" class="button-submit">
    </form>
{% endblock body %}
