{% extends "base.html" %}
{% block head %}
    <title>Log In</title>
    <style>
        form {
            width: 300px;
            margin-left: auto;
            margin-right: auto;
        }

        .field input {
            width: 300px;
            margin-bottom: 20px;
            padding: 8px;
            border: 4px solid deeppink;
            border-radius: 5px;
            font-size: 18px;
            font-family: "Verdana", "Trebuchet MS", sans-serif;
        }

        .field label {
            font-family: "Verdana", "Trebuchet MS", sans-serif;
            font-size: 14px;
        }

        .buttonSubmit {
            width: 150px;
            padding: 5px;
            margin-bottom: 15px;
            background: deeppink;
            color: white;
            border: 4px solid deeppink;
            border-radius: 5px;
            font-size: 20px;
            font-family: "Verdana", "Trebuchet MS", sans-serif;
        }

        .buttonSubmit:hover {
            background: transparent;
            color: deeppink;
        }
    </style>
{% endblock head %}
{% block body %}
    <h1 style="text-align: center;">Log In</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Log In" class="buttonSubmit">
        <div style="margin-top: 15px;"><a href="/log_up">Don't have an account?</a></div>
    </form>
{% endblock body %}
