{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="registration.css">
    <title>Log In</title>
{% endblock head %}
{% block body %}
    <h1 style="text-align: center;">Log In</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }}
                    <div>{{ field }}</div>
                </div>
            {% endfor %}
        </div>
        <input type="submit" value="Log In" class="buttonSubmit">
        <div style="margin-top: 15px;"><a href="/log_up">Don't have an account?</a></div>
    </form>
{% endblock body %}
