<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    {% block head %}
        {% load static %}
        <title>Default page</title>
    {% endblock head %}
    <link rel="stylesheet" href="{% static 'css/themes/pink_dark.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div id="div-top">
    <div>
        <a id="button-main" href="/">FalseR • 𝔹𝔸ℕ𝕂</a>
    </div>
    <div>
        <a class="button-top" href="/sign_in">Sign in</a>
        <a class="button-top" href="/sign_up">Sign up</a>
        <a class="button-top" href="/sign_out">Sign out</a>
    </div>
</div>

<div id="div-main">
    {% block body %}
        <h1>Hello, staff user {{ staff_user.get_username }}</h1>
    {% endblock body %}
</div>
</body>
</html>