{% extends "base.html" %}
{% block head %}
    {% load static %}
    {% load pretty_output %}
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <title>Card operations</title>
    <style>
        #container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }

        #container-left {
            justify-self: start;
        }

        #container div {
            margin-left: 10px;
            margin-right: 10px;
        }

        .card-block {
            margin-right: 0;
        }


    </style>
{% endblock head %}
{% block body %}
    <div id="container">
        <div id="container-left">
            <div class="card-block grid">
                <div style="grid-area: number">{{ card.number|pretty_output }}</div>
                <div style="grid-area: name">{{ card.cardholder_name|cut_cardholder_name:12 }}</div>
                <div style="grid-area: date; text-align: right">{{ card.expiration_date|date:"m/y" }}</div>
                <div style="grid-area: balance; text-align: center;">{{ card.account.balance|floatformat:2 }} {{ card.account.currency.code }}</div>
            </div>
        </div>
        <div style="border-right: 1px solid var(--sep-color)"></div>
        <div id="container-right">
            <h1>Templates</h1>
        </div>
        <div style="border-right: 1px solid var(--sep-color)"></div>
        <div id="container-right">
            <h1>Transactions</h1>
        </div>

    </div>
{% endblock body %}
