{% extends "base.html" %}
{% block head %}
    {% load static %}
    {% load pretty_output %}
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <title>Card operations</title>
    <style>
        #card-grid {
            width: 300px;
            display: grid;
            justify-items: center;
            grid-template-areas:
    'card card'
    'plus minus';
        }
        .card-block {
            grid-area: card;
            margin-right: 0;
        }

        .under-card-buttons {
            text-decoration: none;
            width: 100px;
            height: 50px;
            border: 2px solid var(--text-color);
            font-size: 35px;
            text-align: center;
        }

        .under-card-buttons.plus {
            grid-area: plus;
            color: lawngreen;
        }

        .under-card-buttons.minus {
            grid-area: minus;
            color: orangered;
        }

    </style>
{% endblock head %}
{% block body %}
    <div id="card-grid">
        <div class="card-block">
            <p>{{ card.number|pretty_output }}</p>
            <div class="cardholder_name">{{ card.cardholder_name|cut_cardholder_name:12 }}</div>
            <div class="expiration_date">{{ card.expiration_date|date:"m/y" }}</div>
            <br/>
            <p class="balance">{{ card.account.balance|floatformat:2 }} {{ card.account.currency.code }}</p>
        </div>
        <a class="under-card-buttons plus" href="put">🠕🠕</a>
        <a class="under-card-buttons minus" href="take">🠗🠗</a>
    </div>
{% endblock body %}
