{% extends "base.html" %}
{% block head %}
    {% load static %}
    {% load pretty_output %}
    <title>Main Page</title>
    <style>
         .card-window {
            font-size: 25px;
            font-family: "Verdana", "Trebuchet MS", sans-serif;
        }
    </style>
{% endblock head %}
{% block body %}
    <h1>Привет, {{ client.fullname }}, ваши владения:</h1>
    {% if cards.count > 0 %}
        <div class="card-window">
            {{ cards.0.number|pretty_output }}
            <br/>
            {{ cards.0.cardholder_name }}
            {{ cards.0.expiration_date|date:"m/y" }}
            <br/>
            {{ cards.0.account.balance|floatformat:2 }}
            {{ cards.0.account.currency.code }}
        </div>
        <br/>
    {% endif %}

    </ol>
    <a class="button-top" href="/cards">Add card</a>
{% endblock body %}
