{% extends "base.html" %}
{% block head %}
    {% load static %}
    {% load pretty_output %}
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_page.css' %}">
    <title>Card page</title>
{% endblock head %}
{% block body %}
    <div id="container">
        <div id="left-panel">
            <div class="card-block grid">
                <div style="grid-area: number">{{ card.number|pretty_output }}</div>
                <div style="grid-area: name">{{ card.cardholder_name|cut_cardholder_name:12 }}</div>
                <div style="grid-area: date; text-align: right">{{ card.expiration_date|date:"m/y" }}</div>
                <div style="grid-area: balance; text-align: center;">{{ card.account.balance|floatformat:2 }} {{ card.account.currency.code }}</div>
            </div>
            <div class="sep-horizontal"></div>
            <div id="container-templates">
                {% for template in templates %}
                    <a class="template-button" href="{{ template.id }}">{{ template.description }}</a>
                {% endfor %}
            </div>
            <div class="sep-horizontal"></div>
            <a class="template-button" href="info">ALL INFO</a>
        </div>
        <div class="sep-vertical"></div>
        <div id="container-right">
            <h1>Transactions</h1>
            <div class="transaction-block">
                <table>
                    {% for transaction in transactions %}
                        <tr>
                            <td>
                                {% if transaction.sender_iban == user_iban %}
                                    🠗🠗
                                {% else %}
                                    🠕🠕
                                {% endif %}
                            </td>
                            <td>
                                {{ transaction.template.description }}
                            </td>
                            <td>
                                {{ transaction.value|floatformat:2 }}
                            </td>
                            <td>
                                {{ transaction.currency.code }}
                            </td>
                            <td>
                                {{ transaction.datetime|date:"d.m.Y G:i" }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
