{% extends "base.html" %}
{% block head %}
    {% load static %}
    {% load pretty_output %}
    <link rel="stylesheet" href="{% static 'css/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/card_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
    <title>Card page</title>
    {% if is_blocked %}
        <style>
            .template-button, .card-block.grid {
                border-color: {{ clr }};
            }

            .template-button.inf {
                border-color: var(--text-color)
            }
        </style>
    {% endif %}
{% endblock head %}
{% block body %}
    <div id="container">
        <div id="left-panel">
            <div class="card-block grid">
                <div style="grid-area: number">{{ card.number|pretty_output }}</div>
                <div style="grid-area: name">{{ card.cardholder_name|cut_cardholder_name:12 }}</div>
                <div style="grid-area: date; text-align: right">{{ card.expiration_date|date:"m/y" }}</div>
                <div style="grid-area: balance; text-align: center;">
                    {{ card.account.balance|floatformat:2 }} {{ card.account.currency.code }}</div>
            </div>
            <div class="sep-horizontal"></div>
            <div id="container-templates">
                <a class="template-button" {% if not is_blocked %} href="send_to_account" {% endif %}>Send to
                    account</a>
            </div>
            <div id="container-templates">
                <a class="template-button" {% if not is_blocked %} href="send_to_card" {% endif %}>Send to card</a>
            </div>
            <div id="container-templates">
                {% for template in templates %}
                    <a class="template-button" {% if not is_blocked %} href="{{ template.id }}" {% endif %}>
                        {{ template.description }}
                    </a>
                {% endfor %}
            </div>
            <div class="sep-horizontal"></div>
            <a class="template-button inf" href="info">ALL INFO</a>
        </div>
        <div class="sep-vertical"></div>
        <div id="container-right">
            <div class="transaction-block">
                <table class="table-transactions">
                    {% for transaction in transactions %}
                        <tr onclick="document.location='transactions/{{ transaction.id }}/'" style="cursor: pointer">
                            <td>
                                {% if transaction.sender_iban == user_iban %}
                                    🠗🠗
                                {% else %}
                                    🠕🠕
                                {% endif %}
                            </td>
                            <td>
                                {% if transaction.template %}
                                    {{ transaction.template.description }}
                                {% else %}
                                    Sending by parameters
                                {% endif %}
                            </td>
                            <td>
                                {{ transaction.value|floatformat:2 }}
                            </td>
                            <td>
                                {{ transaction.currency.code }}
                            </td>
                            <td>
                                {{ transaction.datetime|date:"d.m.Y G:i" }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
