{% extends "base.html" %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post-forms.css' %}">
    <title>{{ template.description }}</title>
{% endblock head %}
{% block body %}
    <h1 style="text-align: center;">{{ template.description }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div>
            {% if not template.other_iban %}
                <div class="field">
                    <label>IBAN
                        <input type="text" name="iban" maxlength="34" required>
                    </label>
                </div>
            {% endif %}
            <div class="field">
                <label>Value (before {{ card.account.balance|floatformat:2 }} {{ card.account.currency.code }})
                    <input type="number" name="value" step=".01" min="0" required
                           max="{{ card.account.balance|floatformat:2 }}">
                </label>
            </div>
            <div class="field">
                <label>{{ template.info_label }}
                    <input type="text" name="info" maxlength="50">
                </label>
            </div>
        </div>
        <input type="submit" value="Send" class="button-top reverse"
               style="border-radius: 5px; margin: 10px 0 0 0">
    </form>
{% endblock body %}
